:root{
    --header-bg:hsl(203, 58%, 29%);
    --body-text: hsl(204, 56%, 12%);
    --body-bg: hsl(.17, 1.0,.99);
    --text-light: #f1f1f1;
    --section-bg : hsl(180, 5%, 93%);
    --primary : hsl(203, 58%, 29%);
    --accent : hsl(34, 100%, 50%);
    --secondary : hsl(200, 4%, 54%);
    --footer-bg : #444444;
    --light-grey:hsl(0, 0%, 93%);
}

html {
    font-size: 16px;
} 

body{
    background-color: var(--body-bg);
    color:var(--body-text);
}


main {
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width:960px;
    margin: auto;
}

article {
    width:100%;
    /* background: silver; */
}

code {
    font-family: monospace;
}

p  {
    line-height: 1.5rem;
    /* margin-bottom: 1.2rem; */
}

header{
    background: var(--header-bg);
}

header h1 {
    color:var(--text-light);
}

header p {
    padding-bottom: 2rem;
    color:var(--accent);
}

section {
    width:100%;
    /* background-color: var(--section-bg); */
} 

main:has(aside){
    display: grid;
    grid-template-columns: 2fr 1fr;
}

aside {
    margin-left: 2rem;
    height: 100%;
}

h1, h2{
    padding: 1rem 0px;
}

h3{
    margin-top: .75rem;
    margin-bottom: .75rem;
}

h2 {
    color: var(--primary);
}

hr {
    margin: 1rem 0px;
    border-width: .3px;
    border-style: solid;
    border-color: var(--secondary);
}

details{
    padding: 2rem;
}

footer {
    padding-top: 1rem;
    color: var(--text-light);
    width:100%;
    background-color: var(--footer-bg);
    min-height: 5rem;
}

figcaption {
    font-size: .9rem;
}

nav ul li {
    list-style: none;
    line-height: 3.5rem;
    display: block;
}

nav ul li a{
    font-size: 1.1rem;
    text-decoration: none;
    color:var(--body-text);
    padding:.8rem;
    margin: .2rem;
}

nav ul li a:hover{
    font-weight: bold;
    background-color: var(--light-grey);
}

blockquote {
    position: relative;
    padding-top: 4rem;
    padding-bottom:4rem;
    padding-left:1.5rem;
    line-height: 2rem;
    border-left: 4px solid var(--accent);
    font-size: 1.2rem;
}

blockquote::before{
    content: '\201C';
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12rem;
    position:absolute;
    color:var(--light-grey);
    z-index: -1;
    top:6rem;
    left:.5rem;
}

blockquote::after{
    content: '\201D';
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12rem;
    position:absolute;
    color:var(--light-grey);
    z-index: -1;
    bottom:2rem;
    right:0px;
}

blockquote footer{
    width:100%;
    text-align: right;
    position: absolute;
    background: none;
    right: 2rem;
    color:var(--body-text);
    
}

blockquote footer a{
    text-decoration: none;
    color:var(--primary);
}

blockquote footer a:hover{
    text-decoration: none;
    color:var(--accent);
}

form input, textarea {
    padding-left: 1rem;
    padding-right: 1rem;
    width:100%;
    line-height: 2rem;
    border-color: var(--light-grey);
    border-style: solid;
}

form input:focus {
    border-color: var(--primary);
}

form label {
    display: inline-block;
    margin:1rem 0px .5rem;
}

form input[type=submit] {
    width: initial;
    color:var(--text-light);
    background: var(--primary);
    cursor: pointer;
    padding:.3rem 1.3rem;
    border-style: solid;
    outline-style: none;
    outline: none;
    border-width: 0px;

}

button {
    color:var(--text-light);
    background: var(--primary);
    font-size: .9rem;
    padding:.7rem 1.3rem;
    border-style: solid;
    outline-style: none;
    outline: none;
    border-width: 0px;
}

button:hover{
    font-size: .9rem;
    padding:.7rem 1.3rem;
    background: var(--accent);
    color:var(--body-text);
    cursor: pointer;
}

form input[type=submit]:hover {
    width: initial;
    color:var(--body-text);
    background: var(--accent);
    cursor: pointer;
    padding:.3rem 1.3rem;

}

textarea {
    width:inital;
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 1.3rem;
    min-height: 6rem;
}

fieldset {
    padding:0px 1.5rem;
    border-color: var(--light-grey);
    border-width: 1px;
}

legend {
    font-size: 1.3rem;
    text-align: right;
    padding:0px 1rem;
    color:var(--primary);
}

address a{
    color:var(--primary);
}

address {
    font-size: 1rem;
    line-height: 1.3rem;
}

select {
    width:100%;
    padding: .7rem;
    border-color: var(--light-grey);
    background-color:#fff;
}

progress{
    width:100%;
    height: 1.5rem;
}

ul li, ol li {
    line-height: 1.5rem;
}

ul, ol {
    padding:1rem;
}

table {
    font-size: .9rem;
    width:100%;
    border: 1px solid var(--light-grey);
    padding: 1rem;
    border-collapse: collapse;
}

th, td{
    text-align: left;
    padding:.6rem;
    border: 1px solid var(--light-grey);
}

th{
    color:var(--primary);
}

menu {
    line-height: 3.5rem;
    display: inline block;
   
}

menu menuitem{
    padding:1rem;
    color: var(--primary);
    cursor:pointer;
}

menu menuitem:hover {
    color:var(--accent);
}

a { 
    color:var(--primary);
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color:var(--accent);
}

data{
    padding: 1rem;
}

dialog {
    position:absoute;
    top:300px;
    width:60%;
    min-height: 200px;
    padding: 1rem 2rem;
    margin: 0 auto;
    border:var(--light-grey);
    box-shadow: 0px 10px 25px var(--secondary);
}

form label:has(input[type=checkbox]) {
    display: grid;
    gap:1rem;
    grid-template-columns: 20px auto;

}

form label:has(input[type=radio]){
    display: grid;
    gap:1rem;
    grid-template-columns: 20px auto;
}

@media only screen and (max-width : 960px) {
    main {
        width:100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}